section.bannerRibbon{
display:flex;
align-content: center;
justify-content: center;
background-color:orange;
width: 100%;
height: 40px;
margin-left: 0%;
margin-right: 0%
}
.bannerRibbon a{
    margin-left: 50px;
    margin-right: 50px;
    margin-top:10px;
}
.headerImage{
    display:flex;
    width: 80%;
    height: 40px;
}

section#introduction{
display:flex;
vertical-align: middle;
width: 30%;
height: 300px;
}
/*This first section below the main image on the page. This section contians the introduction text and the 
introduction image*/
section#firstSection{
display: flex;
margin-top: 100px;
vertical-align: middle;
margin-right:auto;
margin-left:auto;
background-color:lightgray;
width: 80%;
height: 600px;
}


/* Imag directly under the main home page image on the right side nexted inside the first section tag*/
section.introductionImage{
display: flex;
float: left;
margin-top: auto;
margin-bottom: auto;
background-image: url('../images/Family_in_livingroom.png');
background-size: contain;
background-repeat: none;
height: 400px;
width: 600px;
}

section#subjectText{
    display: flex;
    width: 500px;
    height: auto;
}

section.ourworktop{
    display:flex;
    margin-right:auto;
    margin-left:auto;
    background-color: rgb(129, 122, 160);
    width:95%;
    height: 300px;
}

section#ourworktopTitle{
    display: flex;
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
    font-size: larger;
    width: 95%;
}

section#ourworktopText{
    display: flex;
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
}